<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProfile name="CONSOLE">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -%msg%n
				</Pattern>
			</layout>
		</appender>	
		<logger name="com.library.jdbc" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
		</logger>
		<logger name="org" level="INFO" additivity="false">
			<appender-ref ref="STDOUT" />
		</logger>
		<root level="INFO">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>
	
	<springProfile name="FILE">
		<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOGS_DIR}/library-service-jdbc/library-service-jdbc.log</file>
			<append>true</append>
			<immediateFlush>true</immediateFlush>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -%msg%n
				</Pattern>
			</layout>
	        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	            <fileNamePattern>library-service-jdbc.%d{yyyy-MM-dd}.log</fileNamePattern>
	            <maxHistory>10</maxHistory> 
	        </rollingPolicy>
	
	        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	            <maxFileSize>1MB</maxFileSize>
	        </triggeringPolicy>		
		</appender>		
		<logger name="com.library.jdbc" level="INFO" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<logger name="org" level="INFO" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>	


</configuration>